$nav-item-color: #fff;
$nav-item-color-hover: #777;
$text-color: #bdbad1;
$blue: #198cff;
$body-background-color: #1a1a1a;
$header-height: 100px;
$max-width: 1280px;

@media (max-width:1023px) {
  .desktop {
    display:none!important;
  }
}



@media (min-width:1024px) {
  .mobile {
    display:none!important;
  }
}
