@import 'variables';

#main {
  padding:50px 20px 20px;
  margin-top:$header-height;
  &>section {
    margin-bottom:50px;
  }
}
.header_block {
  max-width:800px;
  margin:0 auto;
  text-align: center;
}
.main_heading {
  margin: 0 auto 30px;
  font-size: 62px;
  line-height: 72px;
  font-weight: 700;
  color:white;
}

.p_large {
    margin-bottom: 32px;
    color: #bdbad1;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.main_signup_button {
  display: flex;
  padding: 24px 40px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #198cff;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  width:400px;
  max-width:100%;
  margin:30px auto 60px;
  font-weight:600;
}

.why h2 {
  color:white;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 54px;
  line-height: 64px;
}

.blue {
  color:$blue;
}

@media (max-width:1023px) {
  .main_heading {
    font-size: 40px;
    line-height: 50px;
  }
  .why h2 {
    font-size: 42px;
    line-height: 52px;
  }
}



@media (min-width:1024px) {
  .why {
    display:flex;
  }
  .why>div {
    flex:1 1 100%;
  }
}
