$nav-item-color: #fff;
$nav-item-color-hover: #777;

#navbar {
  flex: 1 1 auto;
  display:flex;
  a {
    text-decoration:none;
    color:$nav-item-color;
    &:hover {
      color:$nav-item-color-hover;
    }
  }
  a, .dropdown-controller {
    display:block;
    padding:20px;
    font-size: 11px;
    line-height: 1.15em;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.dropdown-status {
  text-transform: lowercase;
}

.dropdown-controller {
  position:relative;
  cursor:pointer;
  color:$nav-item-color;
}

.dropdown-content {
  color:$nav-item-color;
  &:hover {
    color:$nav-item-color-hover;
  }

  background:#1a1a1a;
  box-shadow:1px 1px 50px 0 #000;

  display:flex;
  flex-direction: column;
}



@media (min-width:1024px) {
  #navbar {
    justify-content: flex-end;
  }

  .dropdown-content {
    position:absolute;
    left:0;
    top:100%;
  }
}
