#navbar {
  flex: 1 1 auto;
  display:flex;
}

.dropdown-status {
  text-transform: lowercase;
}

.dropdown-controller {
  position:relative;
  cursor:pointer;
}

.dropdown-content {
  background:#1a1a1a;
  box-shadow:1px 1px 50px 0 #000;

  display:flex;
  flex-direction: column;
}



@media (max-width:1023px) {

}



@media (min-width:1024px) {
  #navbar {
    justify-content: flex-end;
  }

  .dropdown-content {
    position:absolute;
    left:0;
    top:100%;
  }
}
